{% load static %}
<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->
    
    <!-- Styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="{%static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{%static 'css/fontawesome-all.css' %}" rel="stylesheet">
	<link href="{%static 'css/styles.css' %}" rel="stylesheet">
	<link href="{%static 'css/about.css' %}" rel="stylesheet">
	<link href="{%static 'css/post.css' %}" rel="stylesheet">
	